body {
    color: black;
    background-color: rgb(240, 232, 223);
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    border: 1px solid black;
}
header {
    background-color: rgb(124, 202, 202);
    padding: 100px 100px;
    background-image: url("enfants.jpg");
    background-size: cover;
}
#bloc_page {
    outline: 1px solid;
    color : rgb(18, 18, 85);
    margin: 0;
    padding: 0;
}
.titre_principal
{
    display: flex;
    flex-direction: column;
}
nav {
    overflow: hidden;
    color: violet;
    position: fixed;
    opacity: 0.9;
    background-color: rgb(158, 204, 206);

}
a {
    color: rgb(168, 60, 168);
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 16px;
}

.titre {
    color: rgb(180, 10, 109);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    float: left;
}
.p1 {
    font-style: italic;
    font-size: large;
    font-weight: 3px;
    float: right;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    background-color: rgb(212, 192, 185);
    margin-left: 0;
    margin-right: 0;
    font-size: 2em large;
}
article {
    text-align: center;
    padding-top: 16px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(184, 191, 231);
    float: center;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 60px;
}
#img1 {
    float: left;
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left:0px;
}

